<%= javascript_pack_tag 'maps/button', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'maps/makePin', 'data-turbolinks-track': 'reload' %>

  <div class="col-md-9" id="map" style="width:620px; height:400px"></div>

  <script type="text/javascript">
    let map
    let geocoder

    function initMap() {
      geocoder = new google.maps.Geocoder()
      console.log(google.maps.Geocoder())
      var opts = {
        zoom: 12.5,
        center: new google.maps.LatLng(37.9120388, 139.061775)
      };
      map = new google.maps.Map(document.getElementById("map"), opts);
    }
    
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap">
  </script>


