<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= javascript_pack_tag 'maps/button', 'data-turbolinks-track': 'reload' %>
    </div>
    <div class="col-md-9">
      <div id='map'>ここにマップが表示されます。</div>
    </div>
  </div>
</div>

